{
  "root": true,
  "env": {
    "node": true,
    "jest": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:import/recommended", "airbnb-base", "prettier"],
  "rules": {
    "import/extensions": ["error", { "js": "always", "json": "always" }],
    "import/order": ["error", {"newlines-between": "always"}]
  }
}
