.idea/
.github/
.husky/
.yarn/
.editorconfig
.prettierrc.json
.eslintcache
.eslintrc
playground
/.yarnrc.yml
/.lintstagedrc
/commitlint.config.cjs
/.releaserc

# Test related files
jest.config.cjs
__tests__/
__snapshots__/
**/*.test.js
**/*.test.cjs
/src/config-cst.yaml
